jax[cuda12_pip] -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
numpy
pydantic
omegaconf
flax
optax
black
isort
mypy
flake8
wandb
tqdm
git+https://github.com/Farama-Foundation/d4rl@master#egg=d4rl
gym==0.23.1
cython==0.29.22
mujoco-py==2.1.2.14
distrax


