cython==0.29.30
mujoco-py
IPython
wandb
pydantic
omegaconf
git+https://github.com/Farama-Foundation/d4rl@master#egg=d4rl
gym
tqdm

numpy
jax[cuda11_cudnn82]==0.4.8
jaxlib==0.4.7+cuda11.cudnn82
distrax
flax
optax

